.register-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.image-side {
  flex: 1;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  line-height: 0;
}

.form-side {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfaf5;
  font-size: 1.4rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: normal;
}

.form-side p {
  opacity: 80%;

}

.spacer {
  height: 5rem;
  flex-shrink: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #494b2f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.register-redirect {
  margin-top: 1rem;
  font-size: 0.9rem;
  align-self: center;
  font-style: italic;
}

.register-redirect a {
  text-decoration: underline;
  cursor: pointer;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group input {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin: 0;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #494b2f;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.error-message {
  font-size: 1rem;
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.fade-message {
  font-size: 1rem;
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  opacity: 1;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
