<ng-container *ngIf="book$ | async as book">
  <ng-container *ngIf="wishlist$ | async">
    <div class="book-card-horizontal">
      <div class="book-image">
        <img src="/our-books-4.png" [alt]="book.title" />
      </div>

      <div class="book-info">
        <h2 class="title">{{ book.title }}</h2>
        <p class="author">{{ book.author }}</p>

        <div class="rating">
          <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
            <mat-icon class="star">
              {{ i + 1 <= book.rating ? 'star' : 'star_border' }} </mat-icon>
          </ng-container>
          <span class="rating-score">{{ book.rating }}</span>
        </div>

        <p class="description">{{ book.description }}</p>

        <div class="book-meta">
          <span class="price">{{ book.price }}$</span>

          <div class="actions">
            <mat-icon class="icon" (click)="toggleWishlist(book)"
              [ngClass]="{ active: wishlistService.hasItem(book.id) }">
              {{ wishlistService.hasItem(book.id) ? 'favorite' : 'favorite_border' }}
            </mat-icon>

            <button (click)="addToCart(book)" [disabled]="isInCart(book.id)">
              {{ isInCart(book.id) ? 'In Cart' : 'Add To Cart' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>