<h2>Your Orders</h2>

<div class="orders-list">
  <div
    *ngFor="let order of orders$ | async"
    class="order-card"
    (click)="goToOrder(order.id)"
  >
    <div class="order-header">
      <span class="order-id">Order #{{ order.id }}</span>
      <span class="status-chip" [ngClass]="order.status.toLowerCase()">{{
        order.status
      }}</span>
    </div>

    <div class="order-details">
      <span>Ordered on: {{ order.orderDate | date : "mediumDate" }}</span>
      <span class="total">Total: ${{ order.totalPrice.toFixed(2) }}</span>
      <span class="eta"
        >Est. delivery: {{ order.eta | date : "mediumDate" }}</span
      >
    </div>
  </div>
</div>
