.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #2f2f2f;
  display: flex;
  gap: 0.4rem;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-wrapper mat-icon {
  font-size: 24px;
  color: #4a4a2c;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
  font-weight: bold;
}
